<!DOCTYPE html>
<html>
<head>
	<title>Kickstart Application</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/components-font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/compiled/style.css">
</head>
<body>

<!-- Add all your header stuffs here -->